<h1>Sign In</h1>

<<<<<<< HEAD
  <%= link_to "Sign in with Google", "/auth/google_oauth2" %>

 <!-- PAPERCLIP view intended to be showed on user profile edit page   -->
  <!-- <%= form_for @user, url: users_path, html: { multipart: true } do |form| %>
    <%= form.file_field :avatar %>
  <% end %> -->

  <!--  OR (Simple form)-->

  <!-- <%= simple_form_for @user, url: users_path do |form| %>
  <%= form.input :avatar, as: :file %>
<% end %> -->
=======
<%= link_to "Sign in with Google", "/auth/google_oath2" %>
>>>>>>> dfc2eac867d7be703f16c18d955701245c404f6c
