
<%# @event_brite_events.parsed_response["events"].each do |key|%>
  <%= form_tag( { :controller => "events", :action => "create" }, method: "post", local: true) do |form| %>

    <!-- <p><% key['logo'] %></p> -->
    <p><%= image_tag key['logo']['url'] if key['logo'] %></p>
    <p><%= image_tag key['original']['url'] if key['original'] %></p>

    <!-- <p><%= key ["description"]["text"].truncate(400)%></p> -->
    <% description = key ["description"]["text"] %>
    <!-- <%= text_field_tag(:desc, description) %> -->
    <%= hidden_field_tag(:event_source_id, key["id"]) %>
    <%= hidden_field_tag(:event_source, "EventBriteApi") %>


    <div class="actions">
      <%= submit_tag "Dock It" %>
    </div>
   <% end %>

<%# end %>
