
<h1>Signup!</h1>

<!-- Paperclip - form to upload image -->
<!-- <%= form_for @user, url: '/users', html: { multipart: true } do |form| %>
  <%= form.file_field :avatar %>
<% end %> -->

<%= form_for :user, url: '/users', html: { multipart: true } do |f| %>
  ProfilePic: <%= form.file_field :avatar %>
  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  Zipcode: <%= f.text_field :zipcode %>
  <%= f.submit "Create" %>

<% end %>
