
<%# @event_brite_events.parsed_response["events"].each do |key|%>
  <%= form_tag( { :controller => "events", :action => "create" }, method: "post", local: true) do |form| %>

   <!-- <p><%# key['logo'] %></p> -->
    <p><%= image_tag key['logo']['url'] if key['logo'] %></p>
    <p><%= image_tag key['original']['url'] if key['original'] %></p>

   <!-- <p><%#= key ["description"]["text"].truncate(400)%></p> -->
   <% image = key['logo']['url'] if key['logo'] %>
   <% title = key ["name"]["text"]%>
   <% date = key ["start"]["local"].in_time_zone.strftime("%a, %B %m at %I:%M%p")%>

<%# if key ["is_free"] == false %>
  <%# "Paid Event" %>
<%# else %>
  <%# "Free Event" %>
<%# end %>
  <% unless key["description"]["text"].nil? %>
    <% description = key["description"]["text"].truncate(400) %>
  <% else %>
    <% description = nil %>
  <% end %>
    <!-- <%#= text_field_tag(:desc, description) %> -->

    <%= hidden_field_tag(:event_source_id, key["id"]) %>
    <%= hidden_field_tag(:event_source, title) %>
    <%= hidden_field_tag(:event_date, date) %>
    <%= hidden_field_tag(:event_photo, image) %>
    <%= hidden_field_tag(:event_description, description) %>
    <% if key ["is_free"] == false %>
    <%= hidden_field_tag(:event_price, "Paid Event") %>
    <% else %>
    <%= hidden_field_tag(:event_price, "Free Event") %>
    <% end %>


   <div class="actions">
      <%= submit_tag "Dock It" %>
    </div>

    <div class="sync-to-calendar">
      <%= form_tag new_event_url do %>
      <%= submit_tag "Sync To Calendar" %>
      <% end %>
    </div>
   <% end %>
