<% @event_brite_events.parsed_response["events"].each do |key|%>

    <p><% key %></p>

    <p><%= image_tag key['logo']['url'] if key['logo'] %></p>
    <p><%= image_tag key['original']['url'] if key['original'] %></p>

   <p><%= key ["name"]["text"]%></p>
   <p><%= key ["start"]["local"].in_time_zone.strftime("%a, %B %m at %I:%M%p")   %></p>





<% if key ["is_free"] == false %>
  <%= "Paid Event" %>
<% else %>
  <%= "Free Event" %>
<% end %>

    <p><%= key ["description"]["text"].truncate(400)%></p>
    <hr style="border-bottom:1px solid red;">
<% end %>

<!-- ["description"]["html"].html_safe -->
<!-- ["url"].html_safe, target: '_blank' -->
<!-- ebe["description"]["text"].truncate(400) -->
<!--  -->
<!-- my_hash['item']['current']['price'] -->
