<section>

<% @events.each do |d| %>


<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <% d.source_id%><br>
      <img class="img-thumbnail" src="<%=d.photo%>">
      <!-- 410x210 -->
    </div>
    <div class="col-sm-6">
      <div class="dock_event">
        <strong><%= d.source %></strong>

        <p>
        <%= d.date %>
      </p>
      <p>
        <strong><%= d.price %></strong>
      </p>
      <p>
      <%= d.description %>
    </p>
    <button type="button" id="" class="btn btn-primary btn-lg"><%= link_to 'DELETE', event_path(d.id), method: :delete, data: { confirm: 'Are you sure?' } %></button>

  </div>
</div>
<span>
  <hr style="border-bottom:1px solid red;">
</span>
<% end%>
