<%= form_tag(search_path, method: "get") do %><br>
  <p>Search for Events:</p>
  <%= text_field_tag(:q) %>
  <%= text_field_tag(:city, nil, :required => true) %><span> *City Required.</span><br>
  <br>
  <div><%= submit_tag("Search") %></div>
<% end %>

<!-- <%= form_tag search_path, method: :get do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag %>
<% end %> -->

<h1>EvenBrite</h1>
<div class="events-list">
  <%= render 'list' %>
</div>
