<%= form_tag(search_path, method: "get") do %><br>
  <p>Search for Events:</p>
  <%= text_field_tag([:q]) %>
  <%= text_field_tag(:city, nil, :required => true) %><span> *City Required.</span><br>
  <br>
  <div><%= submit_tag("Search") %></div>

<% end %>

<h1>Events</h1>
<div class="events-list">
  <%= render 'list' %>
</div>
