<!DOCTYPE html>
<html>
  <head>
    <title>Dock.it App</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src='/assets/bootstrap.min.js'></script>
    <link rel="stylesheet" src='/assets/bootstrap.min.css'>
  </head>

  <body>
    <%= yield %>

    <% if Rails.env.development? %>
      <%= console %>
    <% end %>
  </body>
</html>
